/*Reset*/
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/*Valores padrão*/
ul {list-style: none;}

nav li {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    opacity: 0.9;
}

a:hover {opacity: 1;}

/*Header*/
header a img{
    width: 100px;
}

header {
    width: 100%;
    position: absolute; /*Posiciona o elemento em relação ao pai, do lado dele*/
    top: 0;
    left: 0;
    display: flex; /*cria um container flexível onde os elementos filhos podem ser alinhados e distribuídos facilmente, tanto em linha quanto em coluna*/
    justify-content: space-between;
    align-items: center; /* alinha os itens do container Flexbox verticalmente ao centro.*/
    padding: 20px 50px;
    background-color: #fff;
}

header nav {display: flex;}
header li a {color: #191c03;}
header li {margin: 0 15px;}
header li:first-child {margin-left: 0px;}
header li:last-child {margin-right: 0px;}
@media (max-width: 700px) {
    header {flex-direction: column;}
    header img {margin-bottom: 15px;}
}

/*HERO*/
.hero {
    background-image: url(../img/praia-2.jpg);
    background-size: cover;
    min-height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero h1 {
    font-size: 3.2rem;
    margin-bottom: 25px;
}

.hero h3 {
    font-size: 2rem;
    margin-bottom: 25px;
}

.hero .btn {
    background-color: #fff;
    border-radius: 4px;
    color: #191c03;
    padding: 20px 50px;
    text-transform: uppercase;
    text-decoration: none;
}
@media(max-width: 1000px){
    .hero h1 {margin-left: 15px; margin-top: 65px; font-size: 1.5em; margin-right: 15px;}
    .hero h3 {margin-left: 15px; margin-top: 5px; font-size: 1.0em; margin-right: 15px;}
}

.conheca-o-hotel {display: flex; flex-direction: column; align-items: center; padding: 100px 50px;}
.conheca-o-hotel h3 {font-size: 2rem; margin-bottom: 35px; color: #191c03; text-align: center;}
.conheca-o-hotel p {max-width: 800px; margin-bottom: 35px; color: #191c03; text-align: center;}
.conheca-o-hotel hr {width: 200px; height: 2px; background-color: #191c03; margin-bottom: 70px; border: none;}

.conheca-o-hotel .grid {width: 100%; display: flex; flex-wrap: wrap;}
.conheca-o-hotel li {height: 350px; padding: 20px; border-radius: 4px; background-clip: content-box; background-size: cover; background-position: center;}
.conheca-o-hotel .grid li.small {flex-basis: 40%;}
.conheca-o-hotel .grid li.large {flex-basis: 60%;}
@media (max-width: 700px){
    .conheca-o-hotel .grid li.small, .conheca-o-hotel .grid li.large {flex-basis: 100% ;}
}

.caracteristicas {background-color: #191c03; display: flex; flex-direction: column; align-items: center; padding: 100px 50px;}
.caracteristicas h3 {font-size: 2rem; margin-bottom: 35px; color: #fff; text-align: center;}
.caracteristicas p {max-width: 800px; margin-bottom: 35px; color: #fff; text-align: center;}
.caracteristicas hr {width: 200px; height: 2px; background-color: #fff; margin-bottom: 70px; border: none;}

.caracteristicas .grid {width: 100%; display: flex;}
.caracteristicas .grid li {padding: 0 30px; text-align: center;}
.caracteristicas .grid li i {color: #fff; font: 3.5rem; margin-bottom: 30px;}
.caracteristicas .grid li h4 {font-size: 1.5rem; color: #c3c63b; margin-bottom: 30px;}
.caracteristicas .grid li p {color: #fff;}
@media (max-width: 850px){
    .caracteristicas .grid {flex-direction: column;}
}

.newsletter {display: flex; flex-direction: column; align-items: center; padding: 100px 50px;}
.newsletter h3 {font-size: 2rem; margin-bottom: 35px; color: #c3c63b; text-align: center;}
.newsletter p {max-width: 800px; margin-bottom: 35px; color: #c3c63b; text-align: center;}
.newsletter hr {width: 200px; height: 2px; background-color: #c3c63b; margin-bottom: 70px; border: none;}

.newsletter form {display: flex; align-items: center; justify-content: center; flex-wrap: wrap; width: 80%; max-width: 800px;}
.newsletter input {padding: 15px; border: 1px solid #c3c63b; border-radius: 4px; margin-right: 15px; flex: 1;}
.newsletter button {padding: 15px; background-color: #c3c63b; color: #fff; text-transform: uppercase; border: none; border-radius: 4px; cursor: pointer;}
@media (max-width: 700px){
    .newsletter input {flex-basis: 100%; margin-bottom: 15px;}
}

footer {display: flex; flex-direction: column; background-color: #191c03; padding: 50px 0px; align-items: center;}
footer ul {display: flex; margin-bottom: 25px;}
footer ul li {margin-right: 10px;}
footer ul li:last-child {margin-right: 0;}
footer ul li a {color: #c3c63b; font-size: 2rem;}
footer p {color: #c3c63b; text-align: center;}